<div class="container d-flex align-items-center flex-column mt-4 mb-3">
  <div>
    <h1>Modification de Mission</h1>
  </div>
  <div class="row mt-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="d-flex flex-column gap-3">
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="startDate" class="col-sm-6 col-form-label text-right">Date de début</label>
          <div class="col-sm-6">
            <input class="form-control" type="date" formControlName="startDateControl" id="startDate" />
          </div>
        </div>
        <div
          *ngIf="formGroup.controls['startDateControl'].invalid && (formGroup.controls['startDateControl'].dirty || formGroup.controls['startDateControl'].touched)"
          class="alert alert-danger mt-2">
          <div *ngIf="formGroup.controls['startDateControl'].errors?.['required']">
            Saisie invalide, a preciser
          </div>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="endDate" class="col-sm-6 col-form-label text-right">Date de fin</label>
          <div class="col-sm-6">
            <input class="form-control" type="date" formControlName="endDateControl" id="endDate" />
          </div>
        </div>
        <div
          *ngIf="(formGroup.controls['endDateControl'].invalid && (formGroup.controls['endDateControl'].dirty || formGroup.controls['endDateControl'].touched)) || formGroup.getError('startEndDateValidator')"
          class="alert alert-danger mt-2">
          <ng-container *ngIf="formGroup.controls['endDateControl'].errors?.['required'], else elseif1">
            Saisie invalide, a preciser
          </ng-container>
          <ng-template #elseif1>
            <ng-container *ngIf="formGroup.getError('startEndDateValidator')">
              La date de fin ne peut pas être antérieure à la date de début
            </ng-container>
          </ng-template>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="nature" class="col-sm-6 col-form-label text-right">Nature</label>
          <div class="col-sm-6">
            <select formControlName="natureControl" class="form-select" id="nature" [compareWith]="tools.compareById">
              <option *ngFor="let nature of natures" [ngValue]="nature">
                <!--ngfor-->{{nature.description}}
              </option>
            </select>
          </div>
        </div>
        <div
          *ngIf="formGroup.controls['natureControl'].invalid && (formGroup.controls['natureControl'].dirty || formGroup.controls['natureControl'].touched)"
          class="alert alert-danger mt-2">
          <div *ngIf="formGroup.controls['natureControl'].errors?.['required']">
            Saisie invalide, a preciser
          </div>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="startCity" class="col-sm-6 col-form-label text-right">Ville de départ</label>
          <div class="col-sm-6">
            <select formControlName="startCityControl" class="form-select" id="startCity"
              [compareWith]="tools.compareById">
              <option *ngFor="let city of cities" [ngValue]="city">
                <!--ngfor-->{{city.name}}
              </option>
            </select>
          </div>
        </div>
        <div
          *ngIf="formGroup.controls['startCityControl'].invalid && (formGroup.controls['startCityControl'].dirty || formGroup.controls['startCityControl'].touched)"
          class="alert alert-danger mt-2">
          <div *ngIf="formGroup.controls['startCityControl'].errors?.['required']">
            Saisie invalide, a preciser
          </div>
          <div *ngIf="formGroup.controls['startCityControl'].errors?.['maxlength']">
            50 caractères max.
          </div>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="endCity" class="col-sm-6 col-form-label text-right">Ville d'arrivée</label>
          <div class="col-sm-6">
            <select formControlName="endCityControl" class="form-select" id="endCity" [compareWith]="tools.compareById">
              <option *ngFor="let city of cities" [ngValue]="city">
                <!--ngfor-->{{city.name}}
              </option>
            </select>
          </div>
        </div>
        <div
          *ngIf="formGroup.controls['endCityControl'].invalid && (formGroup.controls['endCityControl'].dirty || formGroup.controls['endCityControl'].touched)"
          class="alert alert-danger mt-2">
          <div *ngIf="formGroup.controls['endCityControl'].errors?.['required']">
            Saisie invalide, a preciser
          </div>
          <div *ngIf="formGroup.controls['endCityControl'].errors?.['maxlength']">
            50 caractères max.
          </div>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="transport" class="col-sm-6 col-form-label text-right">Transport</label>
          <div class="col-sm-6">
            <select formControlName="transportControl" class="form-select" id="transport">
              <option *ngFor="let transport of transports | keyvalue" value="{{transport.key}}">
                {{transport.value}}
                <!--ngfor-->
              </option>
            </select>
          </div>
        </div>
        <div *ngIf=" formGroup.controls['transportControl'].invalid && (formGroup.controls['transportControl'].dirty ||
                formGroup.controls['transportControl'].touched)" class="alert alert-danger mt-2">
          <div *ngIf="formGroup.controls['transportControl'].errors?.['required']">
            Saisie invalide, a preciser
          </div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-center">
        <label for="bonusEstimee" class="col-sm-6 col-form-label text-right">Estimation de la prime</label>
        <div class="col-sm-6">
          <input type="text" formControlName="bonusEstimeeControl" class="form-control-plaintext" id="bonusEstimee"
            readonly>
        </div>
      </div>
      <div class="d-flex justify-content-center gap-3 mt-3">
        <button (click)="onCancel()" class="btn btn-danger" type="button">Annuler</button>
        <button class="btn btn-success" type="submit" [disabled]="!formGroup.valid">Valider</button>
      </div>
    </form>
  </div>
</div>
