<div class="container d-flex flex-column flex-nowrap align-items-center mt-4 mb-3">
  <div>
    <h1>Modification d'un nature de mission</h1>
  </div>
  <div class="row mt-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroupModifyNature" class="d-flex flex-column gap-3">
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="description" class="col-sm-6 col-form-label">Nature</label>
          <div class="col-sm-6">
            <input type="text" formControlName="descriptionControl" class="form-control" id="description" />
          </div>
        </div>
        <div
          *ngIf="formGroupModifyNature.controls['descriptionControl'].invalid && (formGroupModifyNature.controls['descriptionControl'].dirty || formGroupModifyNature.controls['descriptionControl'].touched)"
          class="alert alert-danger mt-2">
          <div *ngIf="formGroupModifyNature.controls['descriptionControl'].errors?.['required']">
            Requis
          </div>
          <div *ngIf="formGroupModifyNature.controls['descriptionControl'].errors?.['maxlength']">
            50 caractères max.
          </div>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="facturee" class="col-sm-6 col-form-label text-right">Facturée</label>
          <div class="col-sm-6">
            <select formControlName="chargedControl" class="form-select" id="facturee">
              <option value="true" selected>OUI</option>
              <option value="false">NON</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-center">
        <label for="versementPrime" class="col-sm-6 col-form-label text-right">Versement Prime</label>
        <div class="col-sm-6">
          <select formControlName="giveBonusControl" class="form-select" id="versementPrime">
            <option value="true" selected>OUI</option>
            <option value="false">NON</option>
          </select>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="tmj" class="col-sm-6 col-form-label text-right">TMJ</label>
          <div class="col-sm-6">
            <input type="number" formControlName="tjmControl" class="form-control" id="tjm" step="0.5" />
          </div>
        </div>
        <div
          *ngIf="formGroupModifyNature.controls['tjmControl'].invalid && (formGroupModifyNature.controls['tjmControl'].dirty || formGroupModifyNature.controls['tjmControl'].touched)"
          class="alert alert-danger mt-2">
          <div class="text-danger"
            *ngIf="formGroupModifyNature.controls['tjmControl'].errors?.['min'] || formGroupModifyNature.controls['tjmControl'].errors?.['required']">
            Doit être un nombre supérieur ou égal à 0
          </div>
        </div>
      </div>
      <div>
        <div class="form-group row d-flex justify-content-center">
          <label for="bonus" class="col-sm-6 col-form-label text-right">%Prime</label>
          <div class="col-sm-6">
            <input type="number" formControlName="bonusControl" class="form-control" id="bonus" step="0.5" />
          </div>
        </div>
        <div
          *ngIf="formGroupModifyNature.controls['bonusControl'].invalid && (formGroupModifyNature.controls['bonusControl'].dirty || formGroupModifyNature.controls['tjmControl'].touched)"
          class="alert alert-danger mt-2">
          <div class="text-danger"
            *ngIf="formGroupModifyNature.controls['bonusControl'].errors?.['min'] || formGroupModifyNature.controls['bonusControl'].errors?.['required']">
            Doit être un nombre supérieur ou égal à 0
          </div>
        </div>
      </div>
      <div class="text-center">
        <button (click)="onCancel()" class="btn btn-danger" type="button" style="margin: 5px">Annuler</button>
        <button class="btn btn-success" type="submit" style="margin: 5px"
          [disabled]="!formGroupModifyNature.valid">Valider</button>
      </div>
    </form>
  </div>
</div>
