h1 {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

a:actions {
  margin: 5px;
}

.new-mission {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

}

button:new-mission {
  margin-left: 10px;
}
