h1 {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.actions {
  a {
    margin: 5px;
  }
}

.new-mission {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  button {
    margin-left: 10px;
  }
}

