<div class="container d-flex align-items-center flex-column">
  <h1>Natures de mission</h1>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nature</th>
        <th scope="col">Facturée</th>
        <th scope="col">Prime</th>
        <th scope="col">TJM (€)</th>
        <th scope="col">%Prime</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Conseil</th>
        <td>OUI</td>
        <td>OUI</td>
        <td>750</td>
        <td>3.5</td>
        <td>Unknow</td>
      </tr>
    </tbody>
  </table>
</div>
