<!-- Common modal-->
<div class="modal fade" id="{{'confirmModal'}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div *ngIf="mission!=null" class="modal-content">
      <div class="modal-header" [ngSwitch]="action">
        <h5 *ngSwitchCase="actions.validate" class="modal-title" id="confirmValidateModalLabel">
          Confirmer la validation de cette mission ?
        </h5>
        <h5 *ngSwitchCase="actions.reset" class="modal-title" id="resetStatusModalLabel">
          Réinitialiser le statut de cette mission ?
        </h5>
        <h5 *ngSwitchCase="actions.reject" class="modal-title" id="confirmRejectModalLabel">
          Confirmer le refus de cette mission ?
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Date : {{tools.format(mission.start)}} au {{tools.format(mission.end)}}</li>
          <li>Nature : {{ mission.nature.description }}</li>
          <li>Transport : {{tools.getTransportValue(mission.transport) }}</li>
          <li>Départ : {{ mission.startCity.name }}</li>
          <li>Arrivée : {{ mission.arrivalCity.name }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onConfirm()">
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
