<div class="container d-flex flex-column flex-nowrap mt-4 mb-3">
  <div class="row d-flex flex-column flex-nowrap align-items-center">
    <h1>Gestion des notes de frais</h1>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Transport</th>
          <th scope="col">Frais</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions; let index = index">
          <td>{{mission.start}}</td>
          <td>{{mission.end}}</td>
          <td>{{mission.nature}}</td>
          <td>{{mission.startCity}}</td>
          <td>{{mission.arrivalCity}}</td>
          <td>{{getTransportValue(mission.transport)}}</td>
          <td>{{sumExpenses(mission.expenses)}}</td>
          <td class="d-flex gap-2">
            <a (click)="onEdit(index)" class="btn btn-primary">Modifier</a>
            <a (click)="onExport(index)" class="btn btn-danger">Exporter</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
