<div class="container d-flex flex-column flex-nowrap mt-4 mb-3">
  <div class="row d-flex flex-column flex-nowrap align-items-center">
    <h1>Gestion des notes de frais</h1>
  </div>
  <div class="row">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">début</th>
          <th scope="col">fin</th>
          <th scope="col-1">Nature</th>
          <th scope="col-1">Départ</th>
          <th scope="col-1">Arrivée</th>
          <th scope="col-1">Transport</th>
          <th scope="col-1">Frais</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions; let index = index">
          <td>{{dates.format(mission.start)}}</td>
          <td>{{dates.format(mission.end)}}</td>
          <td>{{mission.nature.description }}</td>
          <td>{{mission.startCity.name}}</td>
          <td>{{mission.arrivalCity.name}}</td>
          <td>{{getTransportValue(mission.transport)}}</td>
          <td>{{sumExpenses(mission.expenses)}}</td>
          <td>
            <div class="btn-group">

              <button (click)="onEdit(mission)" class="btn btn-primary">
                <fa-icon icon="pen-to-square"></fa-icon>
                <p class="visually-hidden">modifier</p>
              </button>
              <button (click)="onExport(mission)" class="btn btn-danger">
                <fa-icon icon="file-archive"></fa-icon>
                <p class="visually-hidden">exporter</p>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
