<div class="container d-flex flex-column flex-nowrap">
  <div class="row d-flex flex-column flex-nowrap align-items-center">
    <h1>Gestion des notes de frais</h1>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Transport</th>
          <th scope="col">Frais</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions; let index = index">
          <td>{{mission.startDate}}</td>
          <td>{{mission.endDate}}</td>
          <td>{{mission.nature}}</td>
          <td>{{mission.startCity}}</td>
          <td>{{mission.endCity}}</td>
          <td>{{mission.transport}}</td>
          <td>{{mission.charges}}</td>
          <td><a (click)="onEdit(index)" class="btn btn-primary">edit</a><a (click)="onExport(index)" class="btn btn-danger">export</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
