<div class="container">
  <div class="">
    <div class="row">
      <h1 class="">
        Vos Primes
      </h1>
      <div class="cols-sm-3">

        <select class="" [formControl]="selectedCountriesControl" (change)="this.filterMission()">
          <option *ngFor=" let year of years" value="{{year}}">
            {{year}}
          </option>

        </select>

      </div>


    </div>
    <div class="row">
      <div class="col-6">

        <table class="table table-striped ">
          <caption>table de vos mission terminées et filtrées par années missions </caption>
          <thead>
            <tr>
              <th class="col-1" scope="col">début</th>
              <th class="col-1" scope="col">fin</th>
              <th class="col-1" scope="col">Nature</th>
              <th class="col-1" scope="col">Départ</th>
              <th class="col-1" scope="col">Arrivée</th>
              <th class="col-1" scope="col">Transport</th>
              <th class="col-1" scope="col">frais</th>
              <th class="col-1" scope="col">Bonus</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mission of displayedMissions; let index = index">
              <td>{{tools.format(mission.start)}}</td>
              <td>{{tools.format(mission.end)}}</td>
              <td>{{mission.nature.description }}</td>
              <td>{{mission.startCity.name}}</td>
              <td>{{mission.arrivalCity.name}}</td>
              <td>{{tools.getTransportValue(mission.transport)}}</td>
              <td>{{tools.sumExpensesTTC(mission.expenses).toFixed(2)}}</td>
              <td>{{mission.bonus.toFixed(2)}}</td>

            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4">
        <app-chart>

        </app-chart>
      </div>
    </div>

  </div>
