<div class="container mt-4">
  <h1>Validation des Missions</h1>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Collaborateur</th>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Transport</th>
          <th scope="col">Statut</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions, let index = index">
          <td>{{mission.collaborator?.firstName}}</td>
          <td>{{tools.format(mission.start) }}</td>
          <td>{{tools.format(mission.end) }}</td>
          <td>{{ mission.nature.description }}</td>
          <td>{{ mission.startCity.name }}</td>
          <td>{{ mission.arrivalCity.name }}</td>
          <td>{{ tools.getTransportValue(mission.transport) }}</td>
          <td [class]="tools.getStatusColor(mission.status)">{{ mission.status}}</td>
          <div class="d-flex row-cols-3 gasp-1"
            *ngIf="mission.status.toString() === 'INIT' || mission.status.toString() === 'WAITING_VALIDATION', then canUpdate else canReset">
          </div>
          <ng-template #canUpdate>
            <td class="d-flex row-cols-3 gap-1">
              <!--validate button-->
              <a class="btn btn-success d-flex justify-content-center" data-bs-toggle="modal"
                attr.data-bs-target="{{'#confirmModal'}}" (click)="onAction(mission,actions.validate)">
                <fa-icon icon="check"></fa-icon>
              </a>
              <!-- reject button-->
              <a class="btn btn-danger d-flex justify-content-center" data-bs-toggle="modal"
                attr.data-bs-target="{{'#confirmModal'}}" (click)="onAction(mission,actions.reject)">
                <fa-icon icon="times"></fa-icon>
              </a>
            </td>
          </ng-template>
          <ng-template #canReset>
            <td class="d-flex row-cols-2 gap-1">
              <!-- reset button-->
              <a class="btn btn-primary d-flex justify-content-center" data-bs-toggle="modal"
                attr.data-bs-target="{{'#confirmModal'}}" (click)="onAction(mission,actions.reset)">
                <fa-icon icon="rotate-left"></fa-icon>
              </a>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <!--[routerlink] toward the component new mission, find an icon-->
</div>
<app-confirm-action (onResetEvt)="onReset($event)" (onRejectEvt)="onReject($event)" (onValidateEvt)="onValidate($event)"
  [mission]="mission" [action]="action"></app-confirm-action>
