<div class="container">
  <h1 class="row">Validation des Missions</h1>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Transport</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions, let index = index">
          <td>{{ mission.start }}</td>
          <td>{{ mission.end }}</td>
          <td>{{ mission.nature }}</td>
          <td>{{ mission.startCity }}</td>
          <td>{{ mission.arrivalCity }}</td>
          <td>{{ getTransportValue(mission.transport) }}</td>
          <td class="d-flex row-cols-3 gap-1">

            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmValidateModal">
              <fa-icon icon="check"></fa-icon>
            </a>
            <div class="modal fade" id="confirmValidateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmValidateModalLabel">Confirmer la validation de cette mission ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Valider la mission</button>
                  </div>
                </div>
              </div>
            </div>

            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmRejectModal">
              <fa-icon icon="times"></fa-icon>
            </a>
            <div class="modal fade" id="confirmRejectModal" tabindex="-1" aria-labelledby="confirmRejectModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmRejectModalLabel">Confirmer le refus de cette mission ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Refuser la mission</button>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--[routerlink] toward the component new mission, find an icon-->
</div>
