<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="login" class="nav-link" routerLinkActive="active">
          Login
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="gestionDesNatures" class="nav-link" routerLinkActive="active">
          Nature de missions
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="gestionMission" class="nav-link" routerLinkActive="active">
          Gestion des missions
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="saisieFrais" class="nav-link" routerLinkActive="active">
          Saisie des Frais
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="validationMission" class="nav-link" routerLinkActive="active">
          Validations des Missions
        </a>
      </li>
    </ul>
    <div *ngIf="user">
      <div class="d-flex gap-3">
        <div class="d-flex align-self-center">
          <span class="fw-bold">
            <fa-icon icon="user-circle"></fa-icon>
            Bienvenue, {{user.firstName}} !
          </span>
        </div>
        <div>
          <button (click)="onLogout()" class="btn btn-link">
            Se déconnecter
            <fa-icon icon="right-from-bracket"></fa-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
