<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-end">
    <h1>Gestion des Missions</h1>
    <div>
      Demander une mission
      <button (click)="onCreate()" class="btn btn-primary">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Transport</th>
          <th scope="col">Statut</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions, let index = index">
          <td>{{ dates.format(mission.start) }}</td>
          <td>{{ dates.format(mission.end) }}</td>
          <td>{{ mission.nature.description }}</td>
          <td>{{ mission.startCity.name }}</td>
          <td>{{ mission.arrivalCity.name }}</td>
          <td>{{ getTransportValue(mission.transport) }}</td>
          <td>{{ mission.status }}</td>
          <td class="d-grid gap-1">
            <a *ngIf="mission.status  == statusEnum.INIT||true " (click)="onEdit(mission)"
              class="btn btn-primary">Modifier</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" attr.data-bs-target="{{'#removeModal'}}"
              (click)="confirmDelete(mission)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-remove-mission (confirmDeleteEvt)="onDelete($event)" [missionToDelete]="missionToDelete"></app-remove-mission>
