<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-end">
    <h1>Gestion des Missions</h1>
    <div>
      Demander une mission
      <button (click)="onCreate()" class="btn btn-primary">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Transport</th>
          <th scope="col">Statut</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions, let index = index">
          <td>{{ mission.start }}</td>
          <td>{{ mission.end }}</td>
          <td>{{ mission.nature }}</td>
          <td>{{ mission.startCity }}</td>
          <td>{{ mission.arrivalCity }}</td>
          <td>{{ getTransportValue(mission.transport) }}</td>
          <td>{{ statusEnum[mission.status] }}</td>
          <td class="d-flex gap-2">
            <a *ngIf="(mission.status == statusEnum.INIT) || (mission.status == statusEnum.REJECTED)" (click)="onEdit(index)" class="btn btn-primary">Modifier</a>
            <app-remove-mission [missionToDelete]="mission" (onDeleteEvt)="onDelete($event)"></app-remove-mission>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
