<div class="container">
  <h1 class="row">Gestion des Missions</h1>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Nature</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Transport</th>
          <th scope="col">Statut</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mission of missions, let index = index">
          <td>{{mission.start}}</td>
          <td>{{mission.end}}</td>
          <td>{{mission.nature}}</td>
          <td>{{mission.startCity}}</td>
          <td>{{mission.arrivalCity}}</td>
          <td>{{mission.transport}}</td>
          <td>{{mission.status}}</td>
          <td><a (click)="onEdit(index)" class="btn btn-primary">edit</a><a class="btn btn-danger">+</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">Demander une mission<a (click)="onCreate()" class="btn btn-primary">+</a>
  </div>
  <!--[routerlink] toward the component new mission, find an icon-->
</div>
