<div *ngIf="srvAuth.currentUser()==null" class="container">

  <div class="container-fluid ">
    <div class="row no-gutter">
      <!-- content  -->
      <div class="bg-light">
        <div class="login d-flex align-items-center py-4">
          <!-- Demo content-->
          <div class="container p-3">
            <div class="row">
              <div class="col-6 offset-xl-1">
                <h2 class="display-4">GDM</h2>
                <h4 class="text-muted mb-4">Gestion des missions</h4>
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                  <div class="form-group has-validation mb-4">
                    <input id="inputUsername" type="text" placeholder="Nom d'utilisateur"
                      formControlName="usernameControl" required="" class="form-control rounded-pill shadow-sm px-4"
                      [class.is-invalid]="inputIsInvalid('usernameControl')"
                      [class.border-0]="!inputIsInvalid('usernameControl')">
                    <small class="text-danger" *ngIf="inputIsInvalid('usernameControl')">Le nom d'utilisateur est
                      obligatoire</small>
                  </div>
                  <div class="form-group has-validation mb-4">
                    <input id="inputPassword" type="password" placeholder="Mot de passe"
                      formControlName="passwordControl" required=""
                      class="form-control rounded-pill shadow-sm px-4 text-primary"
                      [class.is-invalid]="inputIsInvalid('passwordControl')"
                      [class.border-0]="!inputIsInvalid('passwordControl')">
                    <small class="text-danger" *ngIf="inputIsInvalid('passwordControl')">Le mot de passe est
                      obligatoire</small>
                  </div>
                  <div class="form-check">
                    <input id="customCheck1" type="checkbox" formControlName="rememberMeCheckbox"
                      class="form-check-input">
                    <label for="customCheck1" class="form-check-label">Se souvenir du mot de passe</label>
                  </div>
                  <div class="form-group mb-4">
                  </div>
                  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg btn-block">
                    Se connecter
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
