<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" attr.data-target="{{'#removeModal'+expenseToRemove.id}}">
  Supprimer
</button>

<!-- Modal -->
<div class="modal fade" [id]="'removeModal'+expenseToRemove.id" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Confirmation de suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirmez-vous la suppression du frais suivant?</p>
        <ul>
          <li>Date : {{expenseToRemove.date}}</li>
          <li>Nature : {{expenseToRemove.type.name}}</li>
          <li>Montant : {{expenseToRemove.cost}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onRemovalConfirmed()">Valider</button>
      </div>
    </div>
  </div>
</div>
