<div class="container mt-4 mb-3 row">
  <div class="row justify-content-between">
    <h1>Saisie des notes de frais</h1>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Nature</th>
            <th scope="col">Montant</th>
            <th scope="col">TVA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expenseLine of expenses; let index = index ">
            <td>{{tools.format(expenseLine.date)}}</td>
            <td>{{expenseLine.type.name}}</td>
            <td>{{expenseLine.cost}} €</td>
            <td>{{expenseLine.tva}} %</td>
            <!-- action buttons-->
            <td class="col-1">
              <div class="btn-group">

                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  attr.data-bs-target="{{'#modifyModal'}}" (click)="onAction(expenseLine)">

                  <fa-icon icon="pen-to-square"></fa-icon>
                  <p class=" visually-hidden">éditer</p>
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  attr.data-bs-target="{{'#removeModal'}}" (click)="onAction(expenseLine)">
                  <fa-icon icon="trash"></fa-icon>
                  <p class="visually-hidden">supprimer</p>
                </button>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
      <ng-container *ngIf="mission!=null">
        <app-create-expense [mission]="mission" (onCreateEvt)="onCreate($event)"></app-create-expense>
      </ng-container>
    </div>
    <div *ngIf="mission!=null" class="col-sm-12 col-md-4 col-lg-5">
      <p class="h4">Mission actuelle :</p>
      <ul class="list-group row justify-content-around">
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Date de début :</span>
          <span class="col-sm-6 text-end">{{tools.format(mission.start)}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Date de fin :</span>
          <span class="col-sm-6 text-end">{{tools.format(mission.end)}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Nature :</span>
          <span class="col-sm-6 text-end">{{mission.nature.description}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Ville de départ :</span>
          <span class="col-sm-6 text-end">{{mission.startCity.name}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Ville d'arrivée :</span>
          <span class="col-sm-6 text-end">{{mission.arrivalCity.name}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Estimation prime :</span>
          <span class="col-sm-6 text-end">{{mission.bonus}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-modify-expense [mission]="mission" (onUpdateEvt)="onUpdate($event)">
</app-modify-expense>
<app-remove-expense [expenseToRemove]="expenseLine" (onDeleteEvt)="onDelete($event)">
</app-remove-expense>
