<div class="container mt-4 mb-3 row">
  <div class="row justify-content-between">
    <h1>Saisie des notes de frais</h1>
    <div class="col-sm-7">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Nature</th>
            <th scope="col">Montant</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expenseLine of expenses; let index = index">
            <td>{{expenseLine.date}}</td>
            <td>{{expenseLine.type.name}}</td>
            <td>{{expenseLine.cost}}</td>
            <td class="d-flex gap-2">
              <app-modify-expense [expenseToModify]="expenseLine" [mission]="mission" (onUpdateEvt)="onUpdate($event)"></app-modify-expense>
              <app-remove-expense [expenseToRemove]="expenseLine" (onDeleteEvt)="onDelete($event)"></app-remove-expense>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-container *ngIf="mission">
        <app-create-expense [mission]="mission" (onCreateEvt)="onCreate($event)"></app-create-expense>
      </ng-container>
    </div>
    <div class="col-sm-5">
      <p class="h4">Mission actuelle :</p>
      <ul class="list-group row justify-content-around">
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Date de début :</span>
          <span class="col-sm-6 text-end">{{mission.start}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Date de fin :</span>
          <span class="col-sm-6 text-end">{{mission.end}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Nature :</span>
          <span class="col-sm-6 text-end">{{mission.nature}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Ville de départ :</span>
          <span class="col-sm-6 text-end">{{mission.startCity}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Ville d'arrivée :</span>
          <span class="col-sm-6 text-end">{{mission.arrivalCity}}</span>
        </li>
        <li class="list-group-item row d-flex align-self-end">
          <span class="col-sm-6 fw-semibold">Estimation prime :</span>
          <span class="col-sm-6 text-end">{{mission.bonus}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
