<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
  attr.data-bs-target="{{'#modifyModal'+expenseToModify.id}}" (click)="resetForm()">

  <fa-icon icon="pen-to-square"></fa-icon>
  <p class=" visually-hidden">éditer</p>
</button>

<!-- Modal -->
<div class="modal fade" [id]="'modifyModal'+expenseToModify.id" tabindex="-1" aria-labelledby="modifyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyModalLabel">Modification d'une ligne de frais</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" class="d-flex flex-column gap-3">
          <div class="form-group row">
            <label for="date" class="col-sm-6 col-form-label text-right">Date</label>
            <div class="col-sm-6">
              <input class="form-control" type="date" formControlName="dateControl" id="date" />
            </div>
          </div>
          <div *ngIf="getDate().invalid && (getDate().dirty || getDate().touched)" class="alert alert-danger mx-3">
            <div *ngIf="getDate().errors?.['required']">
              Requis
            </div>
            <div *ngIf="getDate().errors?.['dateBetweenValidator']">
              Doit être dans la période de la mission
              {{ dates.format(mission.start) }} - {{ dates.format(mission.end) }}
            </div>
          </div>
          <div class="form-group row">
            <label for="type" class="col-sm-6 col-form-label text-right">Nature</label>
            <div class="col-sm-6">
              <select formControlName="typeControl" class="form-select" id="type" [compareWith]="compareById">
                <option *ngFor="let type of types, let index = index" [ngValue]="type">
                  {{type.name}}
                </option>
              </select>
            </div>
            <div *ngIf="getType().invalid && (getType().dirty || getType().touched)" class="alert alert-danger mx-3">
              <div *ngIf="getType().errors?.['required']">
                Requis
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="cost" class="col-sm-6 col-form-label text-right">Montant</label>
            <div class="col-sm-6">
              <input type="number" formControlName="costControl" class="form-control" id="cost" step="0.5">
            </div>
          </div>
          <div *ngIf="getCost().invalid && (getCost().dirty || getCost().touched)" class="alert alert-danger mx-3">
            <div *ngIf="getCost().errors?.['min'] || getCost().errors?.['required']">
              Doit être un nombre supérieur ou égal à 0
            </div>
          </div>
          <div class="form-group row">
            <label for="cost" class="col-sm-6 col-form-label text-right">TVA</label>
            <div class="col-sm-6">
              <input type="number" formControlName="tvaControl" class="form-control" id="cost" step="0.5">
            </div>
          </div>
          <div *ngIf="getTVA().invalid && (getTVA().dirty || getTVA().touched)" class="alert alert-danger mx-3">
            <div *ngIf="getTVA().errors?.['min'] || getTVA().errors?.['required']">
              Doit être un nombre supérieur ou égal à 0
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onUpdate()"
          [disabled]="!formGroup.valid">Valider</button>
      </div>
    </div>
  </div>
</div>
